<h2>About NBA</h2>

<p>This web page was crated as a place where users could air some questions and receive answers from different users< /p>
{{#link-to 'contact'}}Click here to contact us{{/link-to}}
