<h2>Ask your questions to receive answers from other users</h2>



{{!  Displaying the model data !}}
<ul>
  {{#each model as |question|}}
  <li>{{question-tile question=question}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

<h2> All answers </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.reply}} - by {{answer.author}}</li>
  {{/each}}
</ul>

<hr>

{{#link-to 'about'}}Learn more{{/link-to}}
