<h2>Question and answer message board</h2>

<p>Ask your questions to receive answers from other users</p>

{{!  Displaying the model data !}}
<ul>
  {{#each model as |question|}}
  <li>{{question-tile question=question}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

{{#link-to 'about'}}Learn more{{/link-to}}
